// global

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.link {
	color: $color-darkmain;
	transition: 0.2s ease-out;

	&:hover {
		color: $color-darkgrey;		
	}
}



// helpers

.container {
	@include mq(xs) {
		padding-left: 5%;
		padding-right: 5%;
	}		
}

.circle {
	border-radius: 50%;
}

.text-center {
	text-align: center;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.lineheight-bottom {
	margin-bottom: $line-height;
}

.inline-link {
	margin: -10px;
	padding: 10px;
	position: relative;
}


// header

.header {
	position: relative;
	background: $color-darkmain;

	@include mq(sm) {
		background-color: $color-main;
		background-image: url(../images/hero-bleach.jpg);
		background-size: contain;
		background-attachment: fixed;
	}
}

.header::after {
	@include mq(sm) {
		content: "";
		display: block;
		padding-top: 46.85%;
	}
}

.logo {
	width: 120px;

	@include mq(xs) {
		margin-top: $line-height;
	}

	@include mq(sm) {		
		position: absolute;
		top: $line-height;
		left: $line-height;
	}

	@include mq(md) {
		width: 150px;
	}
}

.tagline {
	font-family: $fontHighlight;

	@include mq(xs) {
		margin-top: $line-height;
	}

	@include mq(sm) {
		position: absolute;
		top: 35%;
		left: 50%;
		margin-left: -243px;
	}	

	h1 {		
		padding-top: 0;
		font-style: italic;
		color: $color-darkgrey;

		span {
			font-style: normal;
			font-weight: normal;
		}
	}

	h2 {
		padding-top: 0;
		font-weight: normal;
		color: $color-medgrey;
	}
}

	.cta {
		display: inline-block;
		margin-top: $line-height;
		padding: 0.5em 1em;
		border-radius: 3px;
		border: 2px solid white;
		color: white;
		// transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		// transition: 200ms;
		-webkit-backface-visibility: hidden;
		position: relative;
		overflow: hidden;
		
		@include mq(xs) {
			margin-top: $line-height;
			margin-bottom: $line-height * 2;
		} 
	
		&:hover {			
			// transform: scale(1.1);
			// background: rgba(0,0,0, 0.5);
			// border: 2px solid $color-secondary;
		}

		&::before {
		  content: "";
		  background: #23b7e5;
		  left: 0;
		  right: 0;
		  top: 0;
		  bottom: 0;
		  position: absolute;
		  z-index: -1;
		  transform: translate3d(-100%, 0, 0);
		  transition: 200ms;
		}

		&:hover::before {
		  transform: translate3d(0, 0, 0);
		}
	}


// main

section {
	padding-top: $line-height;
	margin-bottom: $line-height;

	h2 {
		margin-bottom: $line-height;
	}
}

.line-length {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}


// about

.about-divider {
	&:after {
		content: "";
		display: block;
		width: 50%;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		margin-top: $line-height;
		background: $color-secondary;
	}	
}


// services

.services-container {
	background: $color-backgroundgrey;
	border-top: 1px solid $color-lightgrey;
	border-bottom: 1px solid $color-lightgrey;
}

.services {
	padding-top: $line-height;
	background: $color-backgroundgrey;
	// border-top: 1px solid $color-main;
	// border-bottom: 1px solid $color-main;

	ul {
		max-width: 750px;
		margin: 0 auto;
		padding: 0;
	}

	li {
		margin-bottom: $line-height;
		@include mq(sm) {
			float: left;
			width: 50%;
		}
	}

	img {
		background: white;
		padding: 15px;		
		// border: 1px solid $color-main;
	}

	h3::before {
		content: "";
		display: block;
		height: 5px;
		width: 20%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $line-height / 2;
		background: $color-main;
	}
}

//testimonials

.quote {
	position: relative;
	font-style: italic;

	&::before {
		content: "\201C";
		position: absolute;
		z-index: -1;
		top: 100px;
		left: -50px;
		font-family: $font-sans;
		font-size: 300px;
		font-style: italic;
		color: $color-main;

		@include mq(sm) {
			left: -80px;
		}
	}

	img {
		float: right;
		margin-left: 2%;
	}
}

// contact

.contact-link {
	display: block;
	line-height: 1;
	padding-top: $line-height / 4;
	padding-bottom: $line-height / 4;
}

.contact-divider {
	&::before {
		content: "";
		display: block;
		width: 150px;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		margin-top: $line-height;
		margin-bottom: $line-height;
		background: $color-secondary;
	}	
}


// footer

.footer {
	margin-top: $line-height * 4;
	padding-top: $line-height * 2;
	padding-bottom: $line-height * 2;
	background: $color-darkgrey;
	background-repeat: no-repeat;
	background-position: 85% 100%;
	color: white;

	p {
		padding-top: 0;
	}
}








